$back: #F8F8F8;
$back-menu:#FFF;
$text: #1B1C21;
$text-focuse: #7e7e82;
$border-focuse: #B8FFEC;
$border-list: 1px solid #d9fff5;
$line: #EAEAEA;
$element: rgba(65, 246, 215, 1);
$button:  #FF3E79;
$color-black:rgba(224, 224, 224, 0);

